node_modules
.next
.open-next
.vercel
.wrangler
.env
.env.local
.env.production
.env*.local
.dev.vars
tsconfig.tsbuildinfo
*.log
.DS_Store
next-env.d.ts
.cloudflare
dist
.turbo
coverage
.idea
.vscode/*
!.vscode/settings.json
.cursor/projects
